<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | SIP Oetete</title>
    <%-include('partials/favicon'); %>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- start navbar header -->
        <%- include('partials/header'); %>
    <!-- end navbar header -->

    <style>
        .custom-table td,
        .custom-table th {
            font-size: 14px; /* Adjust the font size as needed */
        }

        #current-time {
          font-size: 0.875rem; /* Sesuaikan ukuran font sesuai kebutuhan */
          color: #000; /* Sesuaikan warna teks sesuai kebutuhan */
      }
    </style>

    <style>
      .custom-avatar {
      width: 20px; /* Adjust the width as needed */
      height: 20px; /* Adjust the height as needed */
      background-color: rgb(45, 118, 196);
      border-radius: 3px; /* Add border-radius for rounded corners if needed */
    }
    </style>


    <div class="container mt-3">
        <nav aria-label="breadcrumb" class="small d-flex justify-content-between">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="/adm/dashboard"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Data</a></li> -->
                <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
            </ol>

            <div id="current-time" class="align-self-center"></div>
        </nav>
        <hr>


        <!-- toast tambah data berhasil. -->
        <% messageCreateSuccess.forEach(element => { %>
        <div class="toast-container top-0 end-0 p-3">
          <!-- Then put toasts within -->
          <div class="toast show fade" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <div class="custom-avatar rounded me-2"></div>
              <strong class="me-auto">Notifikasi</strong>
              <small class="text-body-secondary">just now</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <%= element %>
            </div>
          </div>
        </div>
        <% }) %>


        <% messageDeleteSuccess.forEach(element => { %>
        <!-- toast edit data berhasil. -->
        <div class="toast-container top-0 end-0 p-3">
          <!-- Then put toasts within -->
          <div class="toast show fade" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <div class="custom-avatar rounded me-2"></div>
              <strong class="me-auto">Notifikasi</strong>
              <small class="text-body-secondary">just now</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <%= element %>
            </div>
          </div>
        </div>
        <% }) %>


        <% messageUpdateSuccess.forEach(element => { %>
        <!-- toast edit data berhasil. -->
        <div class="toast-container top-0 end-0 p-3">
          <!-- Then put toasts within -->
          <div class="toast show fade" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <div class="custom-avatar rounded me-2"></div>
              <strong class="me-auto">Notifikasi</strong>
              <small class="text-body-secondary">just now</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <%= element %>
            </div>
          </div>
        </div>
        <% }) %>


        <div class="d-flex justify-content-between">
            <a href="/adm/data/add_warga" class="btn btn-sm btn-warning">Tambah Data</a>
            <!-- <input type="text" class="form-control" id="search-bar" placeholder="Cari..."> -->
            <input class="form-control w-25" type="text" id="search-bar" placeholder="Cari...">

        </div>


        <!-- only temporary code here. -->

        <!-- No Data Message -->
        <!-- <div id="no-data-message" style="display: none;">No data found</div> -->

        <div class="container mt-3">
            <table class="table table-sm table-hover custom-table" id="data-table-view">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>No</th>
                        <th>Nama Warga</th>
                        <th>NIK</th>
                        <th>Kelahiran</th>
                        <th>Keluarga Dari</th>
                         <!--
                        <th>Penilaian</th>
                        <th>Progres</th> -->
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% wargaData.forEach((item, index) => { %>
                    <tr class="text-center">
                        <td><%= index + 1 %></td>
                        <td class="text-capitalize"><%= item.nama_warga %></td>
                        <td><%= item.nomor_induk_kependudukan %></td>
                        <td class="text-capitalize"><%= new Date(item.kelahiran).toLocaleString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}) %></td>

                        <td><%= item.Keluarga.nama_kepala_keluarga %></td> <!-- Accessing the related Keluarga data -->

                         <!--
                        <td></td>   
                        <td> </td> -->
                        <td>
                            <a href="/adm/data/warga/<%= item.id_warga %>" class="btn btn-light btn-sm"><i class="fa-regular fa-eye"></i></a>
                            <a class="btn btn-light btn-sm" href="/adm/data/warga_edit/<%= item.id_warga %>"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a class="btn btn-light btn-sm delete-btn" data-id="<%= item.id_warga %>">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>

                            <% if (!item.namaWargaExists) { %>
                              <a href="#" class="btn btn-primary btn-sm add-to-masuk-btn" data-id_warga="<%= item.id_warga %>" data-bs-toggle="tooltip" data-bs-title="tambah ke daftar masuk"><i class="fa-solid fa-user-plus fa-bounce"></i></a>
                            <% } %>
                          
    
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            
            <!-- No Data Message -->
            <div id="no-data-message" class="alert alert-danger rounded mt-3 text-center" style="display: none;">
                Data tidak ditemukan<i class="mx-1 fs-5 fa-brands fa-searchengin fa-bounce"></i>
            </div>
            <div class="float-end me-5">
                <div id="pagination-buttons"></div>
            </div>

        </div>
        <%-include('warga/delete_warga'); %>



              <!-- Pagination halaman data keluarga -->
      <% if (wargaData.length > 0) { %>
        <nav aria-label="Keluarga Pagination">
          <ul class="pagination justify-content-center mt-5">
      
            <% if (currentPage == 1) { %>
              <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
            <% } else { %>
              <li class="page-item"><a href="/adm/data/warga?page=1&limit=<%= limit %>" class="page-link">First</a></li>
            <% } %>
      
            <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
            <% if(i !== 1) { %>
              <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
            <% } %>
      
            <% for(; i <= (Number(currentPage) + 4) && i <= totalPages; i++ ) { %>
              <% if (i == currentPage) { %>
                <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
              <% } else { %>
                <li class="page-item"><a href="/adm/data/warga?page=<%= i %>&limit=<%= limit %>" class="page-link"><%= i %></a></li>
              <% } %>
              <% if (i == Number(currentPage) + 4 && i < totalPages) { %>
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
              <% } %>
            <% } %>
      
            <% if (currentPage == totalPages) { %>
              <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
            <% } else { %>
              <li class="page-item"><a href="/adm/data/warga?page=<%= totalPages %>&limit=<%= limit %>" class="page-link">Last</a></li>
            <% } %>

            
      
          </ul>
        </nav>
      <% } %>
    </div>

    <!-- Modal UNTUK TAMBAH Data Keluarga-->
    <%-include('keluarga/add_keluarga'); %>


    <!-- Modal Structure -->
  <div class="modal fade" id="addToMasukModal" tabindex="-1" aria-labelledby="addToMasukModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addToMasukModalLabel">Tambah ke Daftar Masuk</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="modalContent">
                  <!-- Content to be populated dynamically -->
              </div>

          </div>
      </div>
  </div>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var deleteButtons = document.querySelectorAll('.delete-btn');
            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            var deleteForm = document.getElementById('deleteForm');
            var deleteIdInput = document.getElementById('deleteId');
  
            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var id = this.getAttribute('data-id');
                    deleteForm.setAttribute('action', '/adm/data/warga/' + id + '?_method=DELETE');
                    deleteIdInput.value = id;
                    deleteModal.show();
                });
            });
        });
    </script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('.add-to-masuk-btn').forEach(button => {
              button.addEventListener('click', function(e) {
                  e.preventDefault();

                  const id_warga = this.getAttribute('data-id_warga');

                  axios.get(`/adm/data/add_to_masuk/${id_warga}`)
                  .then(response => {
                      // Populate the modal with the rendered HTML
                      document.getElementById('modalContent').innerHTML = response.data;

                      // Show the modal
                      const modal = new bootstrap.Modal(document.getElementById('addToMasukModal'));
                      modal.show();
                  })
                  .catch(error => {
                      console.error(error);
                      alert('Failed to fetch data. Please try again.');
                  });
              });
          });

          document.getElementById('uploadButton').addEventListener('click', function() {
              alert('Upload logic to be implemented.');
          });
      });
  </script>

  <!-- <script src="/js/liveSearchBar.js"></script> -->

  <script src="/js/tooltip.js"></script>

  <script src="/js/features.js"></script>

</body>
</html>