<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | SIP Oetete</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- start navbar header -->
        <%- include('partials/header'); %>
    <!-- end navbar header -->
    

    <div class="container mt-3">
        <nav aria-label="breadcrumb" class="small">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house me-1"></i>Dashboard</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Data</a></li> -->
                <li class="breadcrumb-item">Data Keluarga</li>
                <li class="breadcrumb-item active" aria-current="page">Detail Warga</li>
            </ol>
        </nav>
        <hr>
        <div class="mb-3">
            <h4>Edit Warga</h4>
            <p class="fw-semibold mb-1">Keluarga Dari : <%= wargaEdit.Keluarga.nama_kepala_keluarga %> </p>
            <p class="fw-semibold mb-1">Data dibuat : <%= new Date(wargaEdit.createdAt).toLocaleString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></p>
            <p class="fw-semibold mb-1">Data diperbarui : <%= new Date(wargaEdit.updatedAt).toLocaleString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' }) %></p>
        </div>

        <a href="#" class="btn btn-primary btn-sm" onclick="history.back()">Kembali</a> <!-- Tombol kembali -->

        
        <div class="row mt-2">
            <div class="col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="mb-3 col-lg-10">
                            <label for="nama_warga" class="form-label">Nama Warga</label>
                            <input type="text" class="form-control" id="nama_warga" value="<%= wargaEdit.nama_warga %>" name="nama_warga" required>
                        </div>

                        <div class="mb-3 col-lg-10">
                            <label for="nama_warga" class="form-label">Nomor Induk Kependudukan</label>
                            <input type="text" class="form-control" id="nomor_induk_kependudukan" value="<%= wargaEdit.nomor_induk_kependudukan %>" name="nomor_induk_kependudukan" required>
                        </div>

                        <div class="mb-3 col-lg-10">
                            <label for="nama_warga" class="form-label">Keluarga Dari</label>
                            
                            <select class="form-select" id="keluargaId" name="keluargaId" required>
                              <option value="">-</option>
                              <% for(let i = 0; i < keluargaData.length; i++) { %>
                              <option value="<%= keluargaData[i].id_keluarga %>" <%= wargaEdit && wargaEdit.Keluarga && wargaEdit.Keluarga.nama_kepala_keluarga === keluargaData[i].nama_kepala_keluarga ? 'selected' : '' %>>
                                <%= keluargaData[i].nama_kepala_keluarga %> - <%= keluargaData[i].nomor_kartu_keluarga %>
                              </option>
                              <% } %>
                            </select>
                        </div>


                        <div class="mb-3 col-lg-10">
                            <label for="status_perkawinan" class="form-label">Status Perkawinan</label>
                            <select class="form-select" id="status_perkawinan" name="status_perkawinan" required>
                              <option value="">-</option>
                              <option value="Belum Menikah" <%= wargaEdit && wargaEdit.status_perkawinan === 'Belum Menikah' ? 'selected' : '' %>>Belum Menikah</option>
                              <option value="Sudah Menikah" <%= wargaEdit && wargaEdit.status_perkawinan === 'Sudah Menikah' ? 'selected' : '' %>>Sudah Menikah</option>
                              <option value="Cerai Hidup" <%= wargaEdit && wargaEdit.status_perkawinan === 'Cerai Hidup' ? 'selected' : '' %>>Cerai Hidup</option>
                              <option value="Cerai Mati" <%= wargaEdit && wargaEdit.status_perkawinan === 'Cerai Mati' ? 'selected' : '' %>>Cerai Mati</option>
                            </select>
                        </div>
                          

                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">

                        <div class="mb-3 col-lg-10">
                            <label for="jenis_kelamin" class="form-label">Jenis Kelamin</label>
                            <select class="form-select" id="jenis_kelamin" name="jenis_kelamin" required>
                              <option value="">-</option>
                              <option value="Laki-laki" <%= wargaEdit && wargaEdit.jenis_kelamin === 'Laki-laki' ? 'selected' : '' %>>Laki-laki</option>
                              <option value="Perempuan" <%= wargaEdit && wargaEdit.jenis_kelamin === 'Perempuan' ? 'selected' : '' %>>Perempuan</option>
                            </select>
                        </div>
                          


                        <div class="mb-3 col-lg-10">
                            <label for="kelahiran" class="form-label">Kelahiran</label>
                            <input type="text" class="form-control" id="kelahiran" value="<%= new Date(wargaEdit.kelahiran).toLocaleString('id-ID', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}) %>" name="kelahiran" required>
                        </div>

                        <div class="mb-3 col-lg-10">
                            <label for="pendidikan" class="form-label">Pendidikan</label>
                            <select class="form-select" id="pendidikan" name="pendidikan" required>
                              <option value="">-</option>
                              <option value="Belum/Tidak Pernah Sekolah" <%= wargaEdit && wargaEdit.pendidikan === 'Belum/Tidak Pernah Sekolah' ? 'selected' : '' %>>Belum/Tidak Pernah Sekolah</option>
                              <option value="Belum/Tidak Tamat SD/SDLB/MI/Paket A" <%= wargaEdit && wargaEdit.pendidikan === 'Belum/Tidak Tamat SD/SDLB/MI/Paket A' ? 'selected' : '' %>>Belum/Tidak Tamat SD/SDLB/MI/Paket A</option>
                              <option value="SD/SDLB/MI/Paket A" <%= wargaEdit && wargaEdit.pendidikan === 'SD/SDLB/MI/Paket A' ? 'selected' : '' %>>SD/SDLB/MI/Paket A</option>
                              <option value="SMP/SMPLB/MTs/Paket B" <%= wargaEdit && wargaEdit.pendidikan === 'SMP/SMPLB/MTs/Paket B' ? 'selected' : '' %>>SMP/SMPLB/MTs/Paket B</option>
                              <option value="SMA/SMLB/MA/SMK/MAK/paket C" <%= wargaEdit && wargaEdit.pendidikan === 'SMA/SMLB/MA/SMK/MAK/paket C' ? 'selected' : '' %>>SMA/SMLB/MA/SMK/MAK/paket C</option>
                              <option value="DI/DII/DIII" <%= wargaEdit && wargaEdit.pendidikan === 'DI/DII/DIII' ? 'selected' : '' %>>DI/DII/DIII</option>
                              <option value="DIV/S1" <%= wargaEdit && wargaEdit.pendidikan === 'DIV/S1' ? 'selected' : '' %>>DIV/S1</option>
                              <option value="S2" <%= wargaEdit && wargaEdit.pendidikan === 'S2' ? 'selected' : '' %>>S2</option>
                              <option value="S3" <%= wargaEdit && wargaEdit.pendidikan === 'S3' ? 'selected' : '' %>>S3</option>
                            </select>
                          </div>
                          

                        <div class="mb-3 col-lg-10">
                            <label for="pekerjaan" class="form-label">Pekerjaan</label>
                            <select class="form-select" id="pekerjaan" name="pekerjaan" required>
                              <option value="">-</option>
                              <option value="Belum Bekerja" <%= wargaEdit && wargaEdit.pekerjaan === 'Belum Bekerja' ? 'selected' : '' %>>Belum Bekerja</option>
                              <option value="Mengurus Rumah Tangga" <%= wargaEdit && wargaEdit.pekerjaan === 'Mengurus Rumah Tangga' ? 'selected' : '' %>>Mengurus Rumah Tangga</option>
                              <option value="Pelajar/Mahasiswa" <%= wargaEdit && wargaEdit.pekerjaan === 'Pelajar/Mahasiswa' ? 'selected' : '' %>>Pelajar/Mahasiswa</option>
                              <option value="Pensiunan" <%= wargaEdit && wargaEdit.pekerjaan === 'Pensiunan' ? 'selected' : '' %>>Pensiunan</option>
                              <option value="PNS" <%= wargaEdit && wargaEdit.pekerjaan === 'PNS' ? 'selected' : '' %>>PNS</option>
                              <option value="POLRI" <%= wargaEdit && wargaEdit.pekerjaan === 'POLRI' ? 'selected' : '' %>>POLRI</option>
                              <option value="TNI" <%= wargaEdit && wargaEdit.pekerjaan === 'TNI' ? 'selected' : '' %>>TNI</option>
                              <option value="WIRASWASTA" <%= wargaEdit && wargaEdit.pekerjaan === 'WIRASWASTA' ? 'selected' : '' %>>WIRASWASTA</option>
                              <option value="SWASTA" <%= wargaEdit && wargaEdit.pekerjaan === 'SWASTA' ? 'selected' : '' %>>SWASTA</option>
                              <option value="Pegawai BUMN" <%= wargaEdit && wargaEdit.pekerjaan === 'Pegawai BUMN' ? 'selected' : '' %>>Pegawai BUMN</option>
                              <option value="Pekerja Lepas" <%= wargaEdit && wargaEdit.pekerjaan === 'Pekerja Lepas' ? 'selected' : '' %>>Pekerja Lepas</option>
                              <option value="Petani/peternak/pekebun" <%= wargaEdit && wargaEdit.pekerjaan === 'Petani/peternak/pekebun' ? 'selected' : '' %>>Petani/peternak/pekebun</option>
                              <option value="Nelayan" <%= wargaEdit && wargaEdit.pekerjaan === 'Nelayan' ? 'selected' : '' %>>Nelayan</option>
                              <option value="Industri" <%= wargaEdit && wargaEdit.pekerjaan === 'Industri' ? 'selected' : '' %>>Industri</option>
                            </select>
                          </div>
                          
                    </div>

                </div>
            </div>
            <div class="col-12 mt-3 text-center">
                <button type="submit" class="btn btn-sm btn-primary">Update Data</button>
            </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
</body>
</html>
 